* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    width: 400px;
    height: 150px;
    border: 2px solid;
    margin: 10px;
    padding: 3px;
    background-color: rgb(241, 161, 103);
}
button {
    padding: 10px;
    border-radius: 25px;
    background-color: cadetblue;
    font-weight: 700;
    font-size: 0.85rem;
    margin: 10px;
    transform: all linear 0.2sec;
}
#btn3 {
    background-color: green;
}
#mode {
    width: auto;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(206, 126, 244);
    font-size: 2rem;
}

.dark {
    background-color: rgb(16, 15, 15);
    color: white;
}

.light {
    background-color: white;
    color: black;
}